/**
 * Inspired by highlight.js's "Tomorrow night" theme
 */
.lurk-code-component .output {color: #c5c8c6;}
.lurk-code-component pre { white-space: pre; background-color: #1d1f21; border: 0px solid #ccc; font-size: 13px; line-height: 19px; overflow: auto; padding: 6px 10px; border-radius: 3px; }
.lurk-code-component pre code.hl-highlighted {white-space: pre; margin: 0; padding: 0; background: none; border: none; overflow-x: auto; font-size: 13px;}
.lurk-code-component code.hl-highlighted {margin: 0 2px; padding: 0 5px; white-space: nowrap; font-family: Consolas, "Liberation Mono", Courier, monospace; border: 1px solid #eaeaea; border-radius: 3px;}

.lurk-code-component code.hl-highlighted {color: #c5c8c6; color: #c9bf9f;}
.lurk-code-component code.hl-highlighted .function {color: #d9c382;}
.lurk-code-component code.hl-highlighted .function.known {color: #d9c382;}
.lurk-code-component code.hl-highlighted .function.known.special {color: #d9c382; font-weight: bold;}
.lurk-code-component code.hl-highlighted .keyword {color: #74b5ad;}
.lurk-code-component code.hl-highlighted .keyword.known {color: #91b2ce;}
.lurk-code-component code.hl-highlighted .symbol {color: #db919e;}
.lurk-code-component code.hl-highlighted .lambda-list {color: #86adad;}
.lurk-code-component code.hl-highlighted .number {color: #fa879c;}
.lurk-code-component code.hl-highlighted .variable.known {color: #db697e;}
.lurk-code-component code.hl-highlighted .variable.global {color: #96a646;}
.lurk-code-component code.hl-highlighted .variable.constant {color: #96a646;}
.lurk-code-component code.hl-highlighted .nil {color: #db919e; font-weight: bold;}
.lurk-code-component code.hl-highlighted .list {}

.lurk-code-component code.hl-highlighted .string, code.hl-highlighted .string * {color: #db7d8e !important;}
.lurk-code-component code.hl-highlighted .comment,
.lurk-code-component code.hl-highlighted .comment *,
.lurk-code-component code.hl-highlighted .comment .string
.lurk-code-component code.hl-highlighted .comment .string * {color: #777 !important;}
.lurk-code-component code.hl-highlighted .string .comment {color: #db7d8e !important;}

.lurk-code-component code.hl-highlighted .list.active {display: inline-block; color: #333; background: #aaa;}

